<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwtKlPDiLKvEOUphYEXVxLd2otJ25lWGc</string>
	<key>GCM_SENDER_ID</key>
	<string>264157265354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notiflyFlutterSample</string>
	<key>PROJECT_ID</key>
	<string>michael-359102</string>
	<key>STORAGE_BUCKET</key>
	<string>michael-359102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264157265354:ios:e240604eb2d434f649e333</string>
	<key>DATABASE_URL</key>
	<string>https://michael-359102-default-rtdb.firebaseio.com</string>
</dict>
</plist>